<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>Landong_down</servlet-name>
		<servlet-class>com.ipn.edudown.johnlandongdown.Landong_downServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Landong_down</servlet-name>
		<url-pattern>/landong_down</url-pattern>
	</servlet-mapping>
//Paquete Seguridad	
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.ipn.edudown.johnlandongdown.seguridad.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
//Paquete Controlador
	<servlet>
		<servlet-name>Perfiles</servlet-name>
		<servlet-class>com.ipn.edudown.johnlandongdown.controlador.PerfilesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Perfiles</servlet-name>
		<url-pattern>/perfiles</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Supervisar</servlet-name>
		<servlet-class>com.ipn.edudown.johnlandongdown.controlador.SupervisarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Supervisar</servlet-name>
		<url-pattern>/supervisar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Evaluar</servlet-name>
		<servlet-class>com.ipn.edudown.johnlandongdown.controlador.EvaluarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Evaluar</servlet-name>
		<url-pattern>/evaluar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Juego</servlet-name>
		<servlet-class>com.ipn.edudown.johnlandongdown.controlador.JuegoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Juego</servlet-name>
		<url-pattern>/juego</url-pattern>
	</servlet-mapping>
		
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value>com.ipn.edudown.johnlandongdown.entidades.AlumnoEndpoint,com.ipn.edudown.johnlandongdown.entidades.CampoSemanticoEndpoint,com.ipn.edudown.johnlandongdown.entidades.GradoEndpoint,com.ipn.edudown.johnlandongdown.entidades.ImagenesEndpoint,com.ipn.edudown.johnlandongdown.entidades.JuegosEndpoint,com.ipn.edudown.johnlandongdown.entidades.MateriaEndpoint,com.ipn.edudown.johnlandongdown.entidades.PalabrasEndpoint,com.ipn.edudown.johnlandongdown.entidades.ProfesorEndpoint</param-value>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
 
</web-app>